
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/X-admin/css/font.css">
    <link rel="stylesheet" href="~/X-admin/css/xadmin.css">
    <script type="text/javascript" src="~/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>登录用户名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="UserName" name="UserName" required="" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>密码
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="PassWord" name="PassWord" required="" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="phone" class="layui-form-label">
                        <span class="x-red">*</span>真实姓名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="RealName" name="RealName" required=""  autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>角色名
                    </label>
                    <div class="layui-input-inline">
                        <select id="shipping" name="shipping" class="valid">
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>所属部门
                    </label>
                    <div class="layui-input-inline">
                        <select id="contrller" name="contrller">
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>电子邮箱
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="Email" name="Email" required=""lay-verify="email"  autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_email" class="layui-form-label">
                        <span class="x-red">*</span>电话
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="phone" name="phone" required=""lay-verify="phone"  autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>
                    </div>
                </div>


                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">描述备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="" onclick="add()">增加</button>
                </div>
            </form>
</div>
        </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/X-admin/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="~/X-admin/js/xadmin.js"></script>
<script type="text/javascript">
    $(function(){
        GetDepts();
        GetRole();
    });


    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
    layui.use(['form', 'layer'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //监听提交
            form.on('submit(add)',
                function (data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    layer.alert("增加成功", {
                        icon: 6
                    },
                        function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    return false;
                });

        });



    function GetDepts() {
        $.ajax({
            type: "POST",
            url: "/HuangCan/queryDept",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#contrller").append(new Option(data.name, data.id));
                    //$("#shipping").append("<option value='" + data.id + "'>" + data.name + "</option>");
                });
                layui.use(['laypage', 'layer'], function () {
                    var laypage = layui.laypage
                        , layer = layui.layer;
                    var form = layui.form,
                        layer = layui.layer;
                    form.render("select");
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }


    function GetRole() {
        $.ajax({
            type: "POST",
            url: "/HuangCan/queryRole",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    
                    $("#shipping").append(new Option(data.name, data.id));
                });
                layui.use(['laypage', 'layer'], function () {
                    var laypage = layui.laypage
                        , layer = layui.layer;
                    var form = layui.form,
                        layer = layui.layer;
                    form.render("select");
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }


    var IsDelete = 0;
    function add() {
        $.ajax({
            type: "POST",
            url: "/HuangCan/Add",
            data: "{ad:{UserName:'" + $("#UserName").val() + "',PassWord :'" + $("#PassWord").val() + "',RealName:'" + $("#RealName").val() + "',RoleId:'" + $("#shipping").val() + "',DeptId :'" + $("#contrller").val() + "',Email :'" + $("#Email").val() + "',phone:'" + $("#phone").val() + "',IsDelete:0}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                } else {
                    alert("新增失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    layui.use(['form', 'layer', 'jquery'],
        function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;
            //自定义验证规则
            form.verify({
                nikename: function (value) {
                    if (value.length < 1) {
                        return '部门名称至少得1个字符啊';
                    }
                },
            });
            //监听提交
            form.on('submit(add)',
                function (data) {
                    console.log(data);
                    layer.alert("增加成功", {
                        //发异步，把数据提交给php
                        icon: 1
                    },
                        function () {
                            //关闭当前frame
                            xadmin.close();
                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                    return false;
                });

        });
</script>