
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/X-admin/css/font.css" />
    <link rel="stylesheet" href="~/X-admin/css/login.css" />
    <link rel="stylesheet" href="~/X-admin/css/xadmin.css" />
</head>
<body class="login-bg">

    <div class="login layui-anim layui-anim-up">
        <div class="message">仓储系统管理登录</div>
        <div id="darkbannerwrap"></div>

        <div >
            <input id="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input">
            <hr class="hr15">
            <input id="password" lay-verify="required" placeholder="密码" type="text" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit" id="login">
            <hr class="hr20">
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/layer/layer.js"></script>
<script>
    $(function () {
        $("#login").click(function () {
            var name = $("#username").val();
            var pwd = $("#password").val();
           
            $.ajax({
                type: "POST", //提交方式
                url: "/Wst/Logins",//请求URL路径
                data: "{name:" + name + ",pwd:" + pwd + "}",//向服务器传递的参数
                dataType: "json",//预期服务器返回的数据类型             
                success: function (result) {
                    if (result > 0) {
                        alert(1);
                    } else
                    {

                        alert(0);
                    }
                },
                //请求失败的回调函数
                error: function (ex) {
                    alert("error:" + ex);
                }
            });
        })
    });
</script>
