<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <script src="~/X-admin/js/jquery.min.js"></script>

    <script src="~/layui-v2.5.7/layui/layui.all.js"></script>
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        ul li {
            display: inline-block;
            list-style: none;
            margin: 5px 5px;
        }

        .xdiv {
            width: 520px;
            height: 265px;
            border: 1px solid black;
            position: fixed;
            left: 400px;
            top: 100px;
            background-color: white;
            display: none;
        }

            .xdiv h4 {
                color: white;
                background-color: #626262;
                height: 30px;
                line-height: 30px;
            }

            .xdiv ul {
                margin-left: 10px;
            }

                .xdiv ul:nth-of-type(1) {
                    margin-top: 8px;
                }

                .xdiv ul li {
                    display: inline-block;
                    width: 250px;
                    margin: 8px 0px;
                    font-size: 13px;
                    color: #626262;
                }

            .xdiv h3 {
                color: #626262;
                background-color: #EDEEEE;
                height: 40px;
                line-height: 40px;
                margin-top: 46px;
                text-align: right;
            }

            .xdiv input, .xdiv select {
                height: 30px;
                color: #626262;
                width: 160px;
            }
    </style>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
                <cite>导航元素</cite>
            </a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="userName" placeholder="请输入客户名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button id="queryByName" class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                            <button class="layui-btn" id="tian">添加</button>
                        </div>

                    </div>
                    @*<div class="layui-card-header">
                       
                        <button class="layui-btn" id="tian" >添加</button>

                    </div>*@
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>
                                    
                                    <th>客户编号</th>
                                    <th>客户名称</th>
                                    <th>电话</th>
                                    <th>状态</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                            <tbody id="bot">
                            </tbody>

                        </table>
                    </div>
                    <div class="xdiv">
                        <h4>添加客户</h4>
                        <ul>
                            <li>客户编号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="自动生成 可不填" disabled="disabled"></li>
                            <li>客户名称&nbsp;<input type="text" placeholder="请输入客户名称" id="LocationNum"></li>
                        </ul>
                        <ul>
                            <li>客户电话&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="请输入电话" id="LocationName"></li>
                            <li>创建时间&nbsp;<input type="text" placeholder="请输入时间" id="LocationTime"></li>
                        </ul>

                        <ul>
                            <li>邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="请输入邮箱" id="LocationEmail"></li>
                            <li>是否注销&nbsp;<input type="text" id="LocationDel"></li>

                        </ul>
                        <ul>
                            <li>订单数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="请输入订单数" id="LocationShu"></li>
                            <li>备注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="LocationRem" /></li>
                        </ul>
                        <h3>
                            <input type="button" value="确定" style="width: 60px;height:26px;line-height:26px;" onclick="CustAdd()">
                            <input type="button" id="GBButton" value="关闭" style="   width: 60px; height: 26px;line-height: 26px;">
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <script>

            $(function () {

                GetAll();
                $('#tian').click(function () {
                    $('.xdiv').show();
                    $('.xdiv').css('box-shadow', '0 0 30px #d2d2d2');
                });
                $('#GBButton').click(function () {
                    $('.xdiv').hide();
                });

            })

            //时间类型转换
            var time = new Date();
            var y = time.getUTCFullYear(); //获取bai年du
            var m = time.getMonth() + 1; //获取月
            var d = time.getDate(); //获取日zhi
            var CopyTime = y + "-" + m + "-" + d;
            function GetTime(op) {
                var time = new Date(parseInt(op.substr(6)));
                return time.toLocaleString();
        }
        //查询所有
            function GetAll() {
                $.ajax({
                    type: "post",//请求类型
                    url: "/LiuMin/CustGetAll",
                    data: "{}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (rdata) {
                        console.log(rdata);
                        $("#bot tr").remove();
                        $.each(rdata, function (index, data) {
                            if (data.IsDelete > 0)
                            {
                                $("#bot").append("<tr><td>" + data.CusId + "</td><td>" + data.CusName + "</td><td>" + data.CusTel
                                    + "</td><td>" + data.IsDelete + "</td><td>" + GetTime(data.CreateTime) + "</td><td><button onclick='return CustomerDele(" + data.CusId + ")' class='layui-btn'>删除</button></td></tr>")

                            }
                           })
                    },
                    error: function (xrh) {
                        alert(xrh.responseText);
                    }

                });
        }

        //根据编号查询
        $("#queryByName").click(function () {
            var a = $("#userName").val();
           
            $.ajax({
                type: "post",
                url: "/LiuMin/Custquery",
                data: "{SName:'" + a + "'}",
                dataType: "json",
                async: false,
                contentType: "application/json",
                success: function (rdata) {
                   
                    console.log(rdata);
                    $("#bot").empty();
                    $.each(rdata, function (index, data) {
                        if (data.IsDelete > 0) {
                            $("#bot").append("<tr><td>" + data.CusId + "</td><td>" + data.CusName + "</td><td>" + data.CusTel
                                + "</td><td>" + data.IsDelete + "</td><td>" + GetTime(data.CreateTime) + "</td><td><button onclick='return CustomerDele(" + data.CusId + ")' class='layui-btn'>删除</button></td></tr>")

                        }
                    })
                },
                error: function (ex) {
                    alert("Error" + ex.responseText);
                }
            });
        });


        //添加客户名称
        function CustAdd() {
            $.ajax({
                type: "post",
                url: "/LiuMin/CustAdd",
                data: "{cust:{CusName:'" + $("#LocationNum").val() + "',CusTel:'" + $("#LocationName").val()
                    + "',CreateTime:'" + $("#LocationTime").val() + "',email:'" + $("#LocationEmail").val()
                    + "',IsDelete:'" + $("#LocationDel").val() + "',CusNum:'" + $("#LocationShu").val()
                    + "',Remanke:'" + $("#LocationRem").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("新增成功");
                        GetAll();

                    } else {
                        alert("新增失败");
                    }
                }, error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }

        //删除客户信息
        function CustomerDele(id) {
            alert("1111");
            if (confirm('确定删除?')) {
                $.ajax({
                    type: "post",//请求类型
                    url: "/LiuMin/CustomerDele",
                    data: "{id:" + id + "}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (rdata) {
                        if (rdata > 0) {
                            alert("删除成功！");
                            GetAll();
                        }
                        else {
                            alert("删除失败！");
                        }
                    },
                    error: function (xrh) {
                        alert(xrh.responseText);
                    }

                });
            }
            return false;
        }
    </script>
</body>


</html>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

</script>