@{
    Layout = null;
}

<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        ul li {
            display: inline-block;
            list-style: none;
            margin: 5px 5px;
        }

        .xdiv {
            width: 520px;
            height: 265px;
            border: 1px solid black;
            position: fixed;
            left: 400px;
            top: 100px;
            background-color: white;
            display: none;
        }

            .xdiv h4 {
                color: white;
                background-color: #626262;
                height: 30px;
                line-height: 30px;
            }

            .xdiv ul {
                margin-left: 10px;
            }

                .xdiv ul:nth-of-type(1) {
                    margin-top: 8px;
                }

                .xdiv ul li {
                    display: inline-block;
                    width: 250px;
                    margin: 8px 0px;
                    font-size: 13px;
                    color: #626262;
                }

            .xdiv h3 {
                color: #626262;
                background-color: #EDEEEE;
                height: 40px;
                line-height: 40px;
                margin-top: 46px;
                text-align: right;
            }

            .xdiv input, .xdiv select {
                height: 30px;
                color: #626262;
                width: 160px;
            }
    </style>
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">

                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="ck" placeholder="请选择所在仓库" autocomplete="off" class="layui-input">

                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="lx" placeholder="请选择库位类型" autocomplete="off" class="layui-input">

                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="kw" placeholder="请输入库位" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button id="btnQuery" class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>

                        </div>

                    </div>
                    <div class="layui-card-header">

                        <button class="layui-btn"  id="tian">添加</button>

                    </div>



                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                                <tr>

                                    <th>序号</th>
                                    <th>库位编号</th>
                                    <th>库位名</th>
                                    <th>所在仓库</th>
                                    <th>库位类型</th>
                                    <th>是否禁用</th>
                                    <th>是否默认</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                            </thead>

                            <tbody id="bot">
                            </tbody>

                        </table>
                    </div>
                    <div class="xdiv">
                        <h4>添加库位</h4>
                        <ul>
                            <li>序号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" placeholder="自动生成 可不填" disabled="disabled"></li>
                            <li>库位编号&nbsp;<input type="text" placeholder="请输入库位编号" id="LocationNum"></li>
                        </ul>
                        <ul>
                            <li>库位名称&nbsp;<input type="text" placeholder="请输入库位名" id="LocationName"></li>
                            <li>库位条码&nbsp;<input type="text" id="barcode"></li>
                        </ul>
                        <ul>
                            <li>创建时间</li>
                            <li>
                                仓库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <select id="warehourseNum">
                                </select>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                是否默认&nbsp;
                                <select id="isDefult">
                                    <option>请选择</option>
                                    <option>是</option>
                                    <option>否</option>
                                </select>
                            </li>
                        </ul>
                        <h3>
                            <input type="button" value="确定" style="width: 60px;height:26px;line-height:26px;" onclick="AddLocation()">
                            <input type="button" id="GBButton" value="关闭" style="        width: 60px; height: 26px;line-height: 26px;">
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/X-admin/lib/layui/layui.js"></script>
<script src="~/X-admin/js/xadmin.js"></script>
<script>
    $(function () {
        GetAll();
        //sousuo();
        $('#tian').click(function () {
            $('.xdiv').show();
            $('.xdiv').css('box-shadow', '0 0 30px #d2d2d2');
        });
        $('#GBButton').click(function () {
            $('.xdiv').hide();
        });
    });
    //时间类型转换
    var time = new Date();
    var y = time.getUTCFullYear(); //获取bai年du
    var m = time.getMonth() + 1; //获取月
    var d = time.getDate(); //获取日zhi
    var CopyTime = y + "-" + m + "-" + d;
    function GetTime(op) {
        var time = new Date(parseInt(op.substr(6)));
        return time.toLocaleString();
    }
    //查询所有
    function GetAll() {
        $.ajax({
            type: "post",//请求类型
            url: "/LiuMin/GetAll11",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (rdata) {
                console.log(rdata);
                $("#bot tr").remove();
                $.each(rdata, function (index, data) {
                    var a = data.IsJin;
                    if (a > 0) {
                        a = "是"
                    } else {
                        a="否"
                    }
                    var b = data.IsMoren
                    if (b > 0) {
                        b = "否"
                    } else {
                        b = "是"
                    }
                    $("#bot").append("<tr><td>" + data.StorId + "</td><td>" + data.StoreNum + "</td><td>" + data.StoreName
                        + "</td><td>" + data.SupName + "</td><td>" + data.StName + "</td><td>" + a + "</td><td>"
                        + b + "</td><td>" + GetTime(data.CreateTime) + "</td><td><button class='layui-btn' onclick=\"xadmin.open('库位修改','/LiuMin/StorehouseById?id=" + data.StorId + "',704,250)\">修改</button><button class='layui-btn'>删除</button></td></tr>")
                })
            },
            error: function (xrh) {
                alert(xrh.responseText);
            }
        });
    }
    //根据条件查询
    $(function () {
        $("#btnQuery").click(function () {
            if ($("#ck").val() != "" || $("#lx").val() != "" || $("#kw").val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/LiuMin/querid",
                    async: false,
                    data: "{store:'" + $("#ck").val() + "',StName:'" + $("#lx").val() + "',StoreName:'" + $("#kw").val() + "'}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        console.log("进入");
                        console.log(result);
                        $("#bot tr").remove();
                        $.each(result, function (index, data) {
                            var a = data.IsJin;
                            if (a > 0) {
                                a = "是"
                            } else {
                                a = "否"
                            }
                            var b = data.IsMoren
                            if (b > 0) {
                                b = "否"
                            } else {
                                b = "是"
                            }
                            $("#bot").append("<tr><td>" + data.StorId + "</td><td>" + data.StoreNum + "</td><td>" + data.StoreName
                                + "</td><td>" + data.SupName + "</td><td>" + data.StName + "</td><td>" + a + "</td><td>"
                                + b + "</td><td>" + GetTime(data.CreateTime) + "</td><td><button class='layui-btn' onclick=\"xadmin.open('库位修改','/LiuMin/StorehouseById?id=" + data.StorId + "',704,550)\">修改</button><button class='layui-btn'>删除</button></td></tr>")
                        });
                    },
                    error: function (ex) {
                        alert(ex.responseText);
                    }
                });
            }

        });
    });

</script>


<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

</script>

