
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnitByid</title>
    <link href="~/X-admin/css/font.css" rel="stylesheet" />
    <link href="~/X-admin/css/xadmin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td><strong>单位编号</strong></td>
                        <td><input type="text" class="layui-text" id="id" disabled /></td>

                    </tr>
                    <tr>
                        <td><strong>单位名称</strong></td>
                        <td><input type="text" class="layui-text" id="dwName" /></td>

                    </tr>

                </tbody>
            </table>
            <button class="layui-btn" id="btn" style="margin-left:150px">修改</button>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/layer/layer.js"></script>
<script src="~/X-admin/lib/layui/layui.js" charset="utf-8"></script>
<script src="~/X-admin/js/xadmin.js"></script>
<script>
      var id = @Request.QueryString["id"];
    $(function () {
        GetAll();

    });
    function GetAll() {
        $.ajax({
            type: "POST", //提交方式
            url: "/LiuMin/UnitByids",//请求URL路径
            data: "{id:" + id + "}",//向服务器传递的参数
            dataType: "json",//预期服务器返回的数据类型
            contentType: "application/json",//发送信息至服务器时内容编码类型
            //请求成功后的回调函数
            success: function (result) {
                console.log(result);
                $("#id").val(result[0].UnId);
                $("#dwName").val(result[0].UnName);
            
               
            },
            //请求失败的回调函数
            error: function (ex) {
                alert("error:" + ex);
            }
        })
    }

    $("#btn").click(function () {
        $.ajax({
            type: "POST", //提交方式
            url: "/LiuMin/updataUnit",//请求URL路径
            data: "{u:{UnId:'" + id + "',UnName:'" + $("#dwName").val() + "',IsDelete:'" + $("#dwzt").val() + "'}}",//向服务器传递的参数
            dataType: "json",//预期服务器返回的数据类型
            contentType: "application/json",//发送信息至服务器时内容编码类型
            //请求成功后的回调函数
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                } else {
                    alert("修改失败");
                }
            },
            //请求失败的回调函数
            error: function (ex) {
                alert("error:" + ex);
            }
        })
    })
</script>
