
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>

    <link href="~/X-admin/css/xadmin.css" rel="stylesheet" />
    
    <link href="~/X-admin/css/font.css" rel="stylesheet" />
    <script src="~/X-admin/js/jquery.min.js"></script>
    <script src="~/X-admin/lib/layui/layui.js"></script>
    <style>

        
    </style>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
           
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>移库单编号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="" name="" autocomplete="off" placeholder="自动生成，不填" class="layui-input layui-disabled" readonly="readonly">
                    </div>
                </div>
               
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>关联订单号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="ProName" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="phone" class="layui-form-label">
                        <span class="x-red">*</span>审核编号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="ProPrice" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="phone" class="layui-form-label">
                        <span class="x-red">*</span>制单人
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="PorGuiGe" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>移库类型
                    </label>
                    <div class="layui-input-inline">
                        <select id="UnId">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="phone" class="layui-form-label">
                        <span class="x-red">*</span>制单时间
                    </label>
                    <div class="layui-input-inline">
                        <input type="date" id="CreateTime" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label" >描述</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容"  name="desc" class="layui-textarea" id="miaoshu"></textarea>
                    </div>
                </div>
          
        </div>
        <div class="layui-form-item">
            <input type="button" id="ZengJia" value="增加" class="layui-btn" />
            <a href="/LiuJie/ChanPingYeMian" class="layui-btn">取消</a>
        </div>
    </div>
   
</body>
</html>
<script>
    $(function () {

        ProbaictCatagory();
    });
    function ProbaictCatagory() {
        $.ajax({
            type: "POST",
            url: "/shuaikm/Yikuchaxun",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#UnId").append("<option value=" + data.GarSType + ">" + data.GarSType + "</option>");
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

        function  aaa() {
          
        $.ajax({
            type: "POST",
            url: "/shuaikm/jiAdd",
            async: false,
            data: "{kk:{GarSType:'" + $("#UnId").val() + "',AudiId:'" + $("#ProPrice").val() + "',GarSOrder:'" + $("#ProName").val() + "',GarSPerson:'" + $("#PorGuiGe").val() + "',CreateTime:'" + $("#CreateTime").val() + "',IsDelete:'" + 0 + "',Remake:'" + $("#miaoshu").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("增加成功");                    
                }
                else {
                    alert("增加失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
        }
    $("#ZengJia").click(function () {
        aaa();
        bb();
    });
    function bb() {
        $.ajax({
            type: "POST",
            url: "/shuaikm/GetNo",
            data: "{}",
            async: false,
            dataType: "json",
            contentType: "application/json",
            success: function (result) {

                $.ajax({
                    type: "POST",
                    url: "/shuaikm/GetNo1",
                    data: "{}",
                    async: false,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result1) {
                        $.ajax({
                            type: "POST",
                            url: "/shuaikm/tadd",
                            data: "{ll: { GarSId: '" + result1 + "', ProId: '" + result + "', Supid: '" + 1 + "', StorId: '" + 1 + "', Num: '" + 1 + "' }}",
                            dataType: "json",
                            contentType: "application/json",
                            success: function (result2) {

                            },
                            error: function (ex) {
                                alert(ex.responseText);
                            }
                        });
                    }
                });
            }

        });
    }
</script>
