
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>

    <link href="~/X-admin/css/xadmin.css" rel="stylesheet" />
    
    <link href="~/X-admin/css/font.css" rel="stylesheet" />
    <script src="~/X-admin/js/jquery.min.js"></script>
    <script src="~/X-admin/lib/layui/layui.js"></script>

</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>移库单编号
                    </label>
                    <div class="layui-input-inline">
                         <input type="text" id="" required="" placeholder="请输入" lay-verify="required" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                    <label for="phone" class="layui-form-label">
                        <span class="x-red">*</span>关联订单号
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="txtPName" required="" placeholder="请输入" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>移库类型
                    </label>
                    <div class="layui-input-inline">
                        <select id="obnPcid">
                         <option value="1">1</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>制单时间
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="txtPCount" required="" placeholder="请输入" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                        <span class="x-red">*</span>制单人
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="txtPspecifications" required="" placeholder="请输入" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
             
             
             
               
                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="txtPRemarks" name="desc" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
