@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RuKuYeMian</title>
    <link href="~/X-admin/css/font.css" rel="stylesheet" />
    <link href="~/X-admin/css/xadmin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/X-admin/js/jquery.min.js"></script>
</head>
<body>
    <div class="widget box light-grey">
        <div class="widget-title">
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#widget-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <br />
        <div class="widget-body">
            <div class="clearfix margin-bottom-10">
                <div class="btn-group" id="btnStatusGroup">
                    <button class="btn disabled" value="0">所有</button>
                    <button class="btn" value="1" onclick="Querydaishenhe(this)">待审核</button>
                    <button class="btn" value="2" onclick="Querytongguo(this)">审核通过</button>
                    <button class="btn" value="3" onclick="Queryshibai(this)">审核失败</button>
                </div>
                <div style="margin-left:350px" class="actions">
                    <a class="btn btn-primary" href="/LiuJie/RuKuYeMianAdd">新增</a>
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="control-group">
                    <div class="controls controls-cus">
                        <input type="hidden" id="txtReprtNum" name="txtReportNum" />
                        <input id="txtOrderNum" name="txtOrderNum" type="text" class="input-medium" placeholder="移库单编号" />&nbsp;&nbsp;
                        时间&nbsp;<input id="txtBeginTime" name="txtBeginTime" type="date" class="input-medium" />
                        -<input id="txtEndTime" name="txtEndTime" type="date" class="input-medium" />&nbsp;&nbsp;
                        <a id="sousuo" onclick="ChaXun2(this)" class="btn btn-info" href="javascript:void(0)"><i class="icon-search"></i>&nbsp;搜索</a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <table border="1" width="100%" class="layui-table">
            <thead>
                <tr class="widget-title">
                    <td class="hidden-480">入库编号</td>
                    <td class="hidden-480">入库类型</td>
                    <td class="hidden-480">关联订单号</td>
                    <td class="hidden-480">制单人</td>
                    <td class="hidden-480">供应商</td>
                    <td class="hidden-480">创建时间</td>
                    <td class="hidden-480">操作</td>
                </tr>
            </thead>
            <tbody id="tbl">
            </tbody>
        </table>
        <!--定义分页的容器-->
        <div id="DemoPageList">

        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/X-admin/lib/layui/layui.js"></script>
<script>

</script>
