
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Department</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/X-admin/lib/layui/css/layui.css" rel="stylesheet" />
    

</head>
<body>
    <div>
        <div>
            <div style="width: 216px; margin: 0;">
                <button type="button" class="layui-btn layui-btn-fluid" onclick="location.href='/Huang/add'">流体按钮</button>
            </div>
        </div>
            
            <table border="1" width="100%" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td>部门编号</td>
                        <td>部门名称</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <div id="demoPageList"></div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/X-admin/lib/layui/layui.js"></script>

<script>


    var pageIndex = 1;
    var pageSize = 10;
    var pageCount = 0;
    var rows = 0;
    function ConverTime(op) {
        var date = new Date(parseInt(op.substr(6)));
        return date.toLocaleDateString();
    }

    $(function () {
        PageRows();
        PageList(pageIndex, pageSize);

    });


    function PageRows() {
        $.ajax({
            type: "POST",
            url: "/Huang/GetRows",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                //获取总条数
                rows = result;

                layui.use(['laypage', 'layer'], function () {
                    var laypage = layui.laypage
                        , layer = layui.layer;
                    //完整功能
                    laypage.render({
                        elem: 'demoPageList'//分页容器的id
                        , count: rows//总条数
                        , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                        , jump: function (obj, first) {
                            if (!first) {
                                //调用分页的方法
                                PageList(obj.curr, obj.limit);
                            }
                            console.log(obj)
                        }
                    });
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    function PageList(pindex, psize) {
        $.ajax({
            type: "POST",
            url: "/Huang/DemoPageList",
            data: "{pageIndex:" + pindex + ",pageSize:" + psize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                //获取总页数
                pageCount = result.PageCount;
                //console.log(result);
                $("#tb1 tr").remove();
                $.each(result.DataList, function (index, data) {                                                         
                    $("#tb1").append("<tr><td>" + data.DeptId + "</td><td>" + data.DeptName + "</td><td>" + ConverTime(data.CreateTime) + "</td><td> <button type='button' class='layui-btn layui-btn-sm'><i class='layui-icon' onclick='return Del("+data.DeptId+ ")'></i></button><button type='button' class='layui-btn layui-btn-sm'><i class='layui-icon'></i></button></td></tr>");
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });

    }

    function Del(DeptId) {
        if (confirm('确定删除?')) {

            $.ajax({
                type: "POST",
                url: "/Huang/Del",
                data: "{DeptId:" + DeptId + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功！");
                        PageList(1,10);
                    }
                    else {
                        alert("删除失败！");
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }
        return false;
    }


</script>